<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{/match}}{{#match @custom.color_scheme "Auto"}} class="auto-color"{{/match}}>
<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/assets/favicon.png">
    <!-- <link rel="shortcut icon" href="{{asset "favicon.png"}}" type="image/png">-->


    {{!-- <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" /> --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />


    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap" rel="stylesheet">
</head>

<body class="{{body_class}} has-sans-body{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}">
<div class="viewport">

    <header id="gh-head" class="gh-head{{#match @custom.publication_cover_style "!=" "None"}} has-cover{{/match}}">
        <nav class="gh-head-inner inner gh-container">

            <div class="gh-head-brand">
                <a class="gh-burger" role="button">
                    <div class="gh-burger-box">
                        <div class="gh-burger-inner"></div>
                    </div>
                </a>
                <a class="gh-head-logo" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>

                {{!-- Добавлена иконка Telegram для мобильной версии --}}
                <div class="gh-social-telegram">
                    {{> "telega-subscribe-mob"}}
                </div>
            </div>
            <div class="gh-head-menu">
                {{navigation}}
            </div>
            {{!-- Версия Desktop --}}
            <div class="gh-head-actions">
                <a class="gh-head-button ton-gay-gradient" target="_blank" href="{{@custom.telegram_link}}">Подписаться</a>
            </div>
        </nav>
    </header>

    <div class="site-content">
        {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </div>

    {{!-- The global footer at the very bottom of the screen --}}
    <footer class="site-footer outer">
        <div class="inner">
            <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
            <nav class="site-footer-nav">
                {{navigation type="secondary"}}
            </nav>
        </div>
    </footer>

</div>
{{!-- /.viewport --}}

<script>
void function() {
    document.querySelector('.gh-burger').addEventListener('click', function () {
        document.body.classList.toggle('gh-head-open');
    });
}();
</script>

{{!-- Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries --}}
<script defer src="{{asset 'built/casper.js'}}" onload="$('.gh-content').fitVids()"></script>

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>

</html>
